body{
    text-align:center;
}
.main-container{   
    
}
.container{
    border:0px solid green;
    display: inline-block;
    
    
}
.box{
    border:2px solid black;
    padding:30px;
    margin-bottom: 4px;
    background-color:white;
    color:rgba(255,0,0,0)

}
.active{
    border:2px solid black;
    padding:30px;
    margin-bottom: 4px;
    background-color: lightblue;
    color:rgba(255,0,0,0)

}
.red{
    border:2px solid black;
    padding:30px;
    margin-bottom: 4px;
    background-color: lightcoral;
    color:rgba(255,0,0,0)

}
